@import 'assets/styles/variables.scss';

.Play-Game {
  position: relative;
  display: inline-block;
  background-color: rgba($gray-fill, .9);
  border: .0625rem solid $text-color;
  border-radius: 1rem;
  box-shadow: $basic-shadow;
  margin: 2rem auto;
  width: 85rem;


  .admin-button {
    background-color: rgba($gray-fill, 0.85);
    position: absolute;
    left: .5rem;
    top: .5rem;
    height: 2rem;
    width: 3rem;
  }
}