@import 'assets/styles/variables.scss';

.major-choice {
  background-color: rgba($med-gray-fill, .9);
  border: 1px solid $med-gray-fill;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-bottom: 1rem;
  height: 11rem;
  width: 99.8%;
  position: absolute;
  bottom: 0;
  z-index: 1;

  form {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;

    select {
      border-radius: 10px;
      font-size: 1rem;
      height: 2.5rem;
      width: 9rem;
      margin: .5rem;
    }

    input {
      border-radius: .625rem;
      height: 2.5rem;
      margin-left: .5rem;
      width: 4.5rem;
      background-color: rgba(0, 0, 0, 0);
      border: 0.0625rem solid $text-color;
      box-shadow: $basic-shadow;
      color: $text-color;
      font-family: $base-font;
      cursor: pointer;

      &:hover,
      &:active {
        background-color: rgba($red-text, 0.5);
        border-color: rgba($red-text, 0.5);
        transition: background-color 0.1s ease-in, border-color 0.3s ease-in;
      }
    }
  }
}