@import 'assets/styles/variables.scss';

.game-content {
  height: 60vh;
  margin-top: 2vh;
  width: 95vw;

  button,
  input {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid $text-color;
    border-radius: 8px;
    box-shadow: $basic-shadow;
    color: $text-color;
    font-family: $base-font;
    font-size: 1.1rem;
    height: 3.5rem;
    width: 8rem;
    cursor: pointer;

    &:hover,
    &:active {
      background-color: rgba($red-text, 0.5);
      border-color: rgba($red-text, 0.5);
      transition: background-color 0.1s ease-in, border-color 0.3s ease-in;
    }
  }

  input {
    height: 2.5rem;
    margin-left: 1rem;
  }

  ol {
    list-style-type: upper-alpha;
    text-align: left;
    height: 25vh;
    overflow-y: scroll;

    li {
      margin-bottom: 1rem;
    }
  }

  #sassy-modal {
    background-color: rgba($gray-fill, .95);
    border-radius: 15px;
    height: 100%;
    position: absolute;
    width: 100%;
    margin: 0;
    left: 0;
    top: 0;
    z-index: 2;
    display: none;

    .sass {
      margin: 15vh auto 0;
      height: 30vh;
      width: 35rem;
      max-width: 95vw;
      font-size: 1.5rem;
    }

    .glow {
      margin: 30vh auto 0;
    }
  }

  #lets-play {
    margin: 15vh auto 0;
    display: none;
    width: 25rem;
    font-size: 2rem;

    p {
      text-align: center;
    }
  }

  #game-content {
    margin: 10vh auto 0;
    width: 80vw;
    min-width: 26rem;
    text-align: left;
    display: none;
    height: 40vh;

    select {
      border-radius: 10px;
      font-size: 1.25rem;
      height: 2rem;
      width: 4rem;
    }

    #game-content-form {
      float: right;
    }
  }

  #final-view {
    margin: 25vh 0;
    display: none;
    button {
      position: relative;
      margin: auto;
      width: 20rem;
      max-width: 90vw;
      height: 10rem;
      font-size: 2.5rem;
      font-family: $title-font;
    }
  }
}