@import 'assets/styles/variables.scss';

  .team-log {
    float: right;

    .toggle-button {
      position: absolute;
      top: 0;
      left: 75%;
      border: 5px solid $red-text;
      background-color: rgba($red-text, .75);
      border-radius: 10px;
      height: 4rem;
      width: 22rem;
      max-width: 75vw;
      font-family: $title-font;
      font-size: 2rem;
      text-align: left;
      text-indent: 1rem;
      color: rgba($text-color, .8);
      cursor: pointer;

      &:hover,
      &:active {
        background-color: rgba($red-text, 1);
        border-color: rgba($red-text, 1);
        transition: background-color 0.1s ease-in, border-color 0.3s ease-in;
      }
    }

    .team-list {
      position: absolute;
      top: 3rem;
      left: 64rem;
      background-color: rgba($red-text, .5);
      border-bottom-right-radius: 1rem;
      border-bottom-left-radius: 1rem;
      width: 18.5rem;
      min-height: 4rem;
      text-align: left;
      padding: .5rem 1rem;

      li {
        display: flex;
        justify-content: space-between;
        list-style: none;
        font-size: 1.125rem;

        .team-member {
          display: flex;
          align-items: center;
  
          img {
            margin-right: 1rem;
          }

          span {
            font-size: .75rem;
            margin-left: .25rem;
            color: gray;
          }
        }
      }
    }
  }