@import 'assets/styles/variables.scss';

  .team-log {
    float: right;

    .toggle-button {
      position: relative;
      bottom: 1.5rem;
      right: .5rem;
      border: 5px solid $red-text;
      background-color: rgba($red-text, .75);
      border-radius: 10px;
      height: 4rem;
      width: 22rem;
      max-width: 90vw;
      font-family: $title-font;
      font-size: 2rem;
      text-align: left;
      text-indent: 1rem;
      color: rgba($text-color, .8);
      cursor: pointer;

      &:hover,
      &:active {
        background-color: rgba($red-text, 1);
        border-color: rgba($red-text, 1);
        transition: background-color 0.1s ease-in, border-color 0.3s ease-in;
      }
    }

    ul {
      background-color: rgba($red-text, .5);
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
      display: none;
      height: 25rem;
      max-height: 55vh;
      margin: auto;
      margin-top: -3rem;
      width: 18rem;
      max-width: 88vw;

      li {
        list-style: none;
        font-size: 1.5rem;
        padding-top: 5vh;
        padding-left: 0;
        margin-left: -2rem;

        &:before {
          content: '';
          display: inline-block;
          height: 30px;
          width: 30px;
          margin-right: 1rem;
          // background-image: url('assets/images/controller.png');
        }
      }
    }
  }