@import 'assets/styles/variables.scss';

.Set-Player {
  .gameid-mark {
    background-color: rgba($gray-fill, .85);
    border: .125rem solid grey;
    border-top: none;
    border-radius: 0 0 1rem 1rem;
    box-shadow: $basic-shadow;
    margin: -.5rem auto 2rem;
    height: 4rem;
    width: 22rem;
    max-width: 95vw;
    padding-top: 2rem;
  }

  #username-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .input-label {
      font-family: $title-font;
      font-size: 3rem;
      text-shadow: $basic-shadow;
      margin: .5rem auto;
      max-width: 95vw;
    }
  
    .input-field {
      width: 18rem;
      max-width: 90vw;
      margin-bottom: .5rem;
    }
  
    .error-message {
      color: $error-red;
      background-color: rgba($text-color, 0.5);
      line-height: 2.5rem;
      text-shadow: none;
      border-radius: 0.25rem;
      font-size: 1.125rem;
      padding: 0 1rem;
      margin: 0;
    }

    .admin-button {
      margin-top: .5rem;
    }
  }

  .Player-List {
    background-color: rgba($gray-fill, .85);
    border-radius: 15px;
    width: 20rem;
    max-width: 95vw;
    padding: 1rem;
    margin: 2rem auto;

    h3 {
      font-size: 1.5rem;
      font-weight: bold;
      text-decoration: underline;
    }

    ul {
      text-align: left;
      margin: auto;
      width: 12rem;
      font-size: 1.5rem;
      height: 22vh;
      overflow-x: scroll;
    }
  }

  #all-ready {
    font-size: 1.5rem;
    font-weight: 900;
    height: 6rem;
    width: 12rem;
  }
}